/* Write your CSS here */
.main-container {
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment-header {
  color: #1e293b;
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.user-input-comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-input-comment-container {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.name-input {
  margin-bottom: 20px;
  width: 200px;
}
.comment-input {
  height: 150px;
  width: 200px;
  margin-bottom: 20px;
}
.add-button {
  background-color: #0284c7;
  color: #ffffff;
  border-width: 0px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}
.comments-image {
  height: 200px;
  width: 250px;
  margin-left: 30px;
}
.line {
  color: #dee0e3;
  width: 1400px;
}
.heading {
  color: #334155;
  font-weight: bold;
  font-family: 'Roboto';
  margin-bottom: 10px;
}
.comments-count {
  background-color: #0284c7;
  color: #ffffff;
  padding: 7px;
  border-radius: 4px;
  padding-bottom: 3px;
  padding-top: 3px;
}
